/*Estilos generales práctica 24*/

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F58427;
    font-family: Arial, Helvetica, sans-serif;
    color: #AAD03E;
    line-height: 1.5;
}

#contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

header{
    background-color: #D1761A;
    padding: 2.5rem 1rem 1.5rem 1rem;
    text-align: center;
}

header h1{
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

main{
    padding: 2.5rem;
    background: #A9C2FE;
}

footer{
    background-color: #333333;
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
}

footer p{
    margin: 0;
}          