/* Estilos Práctica 17*/

body{
    background-color: black;
}

header h1{
    background-color: orange;
}

main section h2{
    background-color: white;
}

main section {
    background-color: white;
}

p{
    color: black;
}

